@{
    Layout = "_Layout";
}
<div class="parent">
    <div class="title">
        <h1>Exercises:</h1>
        <pre>
            We advice you with these Exercises for your good health!
        </pre>
    </div>

    <div class="paragraph1" style="position: relative;">
        <img src="..//img/Asset 12345.png" , width="30%" ,height="30%">
        <pre>
        <h5>Why I Exercise: Real People Weigh In on What Keeps
                Them Going</h5>
            Does it ever feel like the only message you hear about
            exercise focuses on what you can lose (i.e., weight)?
            With the broader fitness narrative emphasizing weight loss,
            unrealistic expectations, and physical appearance, it can be
            challenging to dig deep and define your "why" when it
            comes to exercise
        </pre>
    </div>

    <div class="paragraph2" style="position: relative;">
        <img src="..//img/Asset 789123.png" , width="30%" ,height="30%">
        <pre>
        <h5>Ways to Move More in Everyday Life 10</h5>
            must fill in the blank: working parent, working night shifts,
            entrepreneur, student, person who commutes, or parent who
            stays at home keeping children alive. You're not alone in
            trying to figure out how to fit exercise into your day.
            As a mama and physical therapist who owns her own
            business, I have to schedule my exercise time - otherwise, it
            won't happen.
            Over the past 11 years, I've realized the I'll-work-out-later
            approach doesn't work for me. I have to block.

        </pre>
    </div>

    <div class="paragraph3" style="position: relative;">
        <img src="..//img/Asset 7895134.png" , width="30%" ,height="30%">
        <pre>
        <h5>Fit It In: Mini Workouts Are a Great Option When
                You're Crunched for Time</h5>
            if you're looking for a way to fit exercise into your day but
            struggle to find a 30-45-minute block of time, consider mini
            workouts. These shorter sessions take the place of one longer
            workout by breaking up a continuous routine into several
            smaller ones.
            You may wonder whether multiple mini workouts are just as
            beneficial as one
        </pre>

    </div>


</div>