@using MStest.Data.Entities
@model List<Doctor>

@{
    Layout = "";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/custom.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Kufi+Arabic:wght@600&display=swap">
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <title>Doctors</title>
</head>
<body class="body">
    <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand" href="#" style="color: #3B72AA;">
            <img src="~/img/logo.jpg" width="50" height="50" class="d-inline-block align-top" alt="">
            MS SUPPORT
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item">
                    <a id="home" class="nav-link" href="~/home/homePage">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item" style="width: 220px;">
                    <a class="nav-link" href="#">Notifications</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="~/home/chat" tabindex="-1" aria-disabled="true" style="padding-right: 300px;">Chats</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <span><img src="~/img/Vector (1).png"> English</span>
                <img id="user" src="~/img/User.png" width="50px height=50px">
            </form>
        </div>
    </nav>
    <!--navbar-->
    <br>
    <br>
    <!--start of second section-->
    <div class="doc0">
        <p class="doc"><span>05</span>Meet Our Doctors</p>
        <p class="doc1">we advice you freely talk with doctors</p>
    </div>
    <br>
    <br>
    <br>
    <br>
    @foreach(var doctor in Model){
        <div class="container">
            
            <div class="float-child">
                <div class="person"><img src="@doctor.Image"></div>
            </div>
            <div class="float-child">
                <div class="about">
                    <h2>Dr. @doctor.ApplicationUser.FirstName @doctor.ApplicationUser.LastName</h2><br>
                    <span>Cardiologists</span><br>
                    <p>
                        @doctor.Description;
                    </p>
                    <button type="button"><i class="fa-solid fa-message"></i>Chat with the doctor</button>
                </div>
            </div>
        </div>

    }
    
    <div class="shape5" style="top: 420px;"></div>
    <div class="shape5" style="top: 1520px;"></div>
    <div class="shape6" style="top: 1100px;"></div>
    <!--end of second section-->
    <div class="container">
        <div class="doc2">
            <a href="doctors2.html">See More Doctors</a>
        </div>
    </div>
    <!--start of footer-->
    <div class="container">
        <footer class="row row-cols-1 row-cols-sm-2 row-cols-md-5 py-5 my-5 border-top">
            <div class="col-md-4">
                <div id="first">
                    <img class="bi me-2" src="~/img/logo2.jpg"><p>MS SUPPORT</p>
                    <ul class="nav flex-column">
                        <li><img id="facebook" src="~/img/Facebook.png" alt=""></li>
                        <li><img id="chrome" src="~/img/Chrome.png" alt=""></li>
                        <li><img id="twitter" src="~/img/Twitter.png" alt=""></li>
                        <li><img id="insta" src="~/img/Instagram.png" alt=""></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4 ">
                <div id="second">
                    <h5>Company</h5>
                    <ul class="nav flex-column">
                        <li><a href="~/home/about">About Us</a></li>
                        <li><a href="">Contact Us</a></li>
                        <li><a href="/Identity/Account/login">Sign In</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4">
                <div id="third">
                    <h5>Popular Categories</h5>
                    <ul class="nav flex-column">
                        <li><a href="~/doctor/diagnosis">Diagnosis</a></li>
                        <li><a href="~/Patient/AddMedicine">Medicine</a></li>
                        <li><a href="~/food/index">Food</a></li>
                        <li><a href="~/exercise/index">Exercises</a></li>
                    </ul>
                </div>
            </div>
        </footer>
    </div>
    <!--end of the footer-->
    <script src="~/js/js.js"></script>
    <script src="~/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/all.min.js"></script>
</body>
</html>