@page

<div class="profile text-center">
    <div class="container">
        <form action="" class="w-50 mt-4 m-auto text-right">
            <label for="uploadPhoto" class="d-block text-center">
                <img src="~/img/user.svg" class="img-fluid" id="showImage" alt="">
            </label>
            <h2 class="section-title">My Profile</h2>
            <div class="" style="margin-top: 6%;">
                <label for="" class="d-block">Name</label>
                <p>ex : elsayed sobhy al </p>
            </div>
            <img src="~/img/hr.svg" class="img-fluid" alt="">
            <div class="mt-2">
                <label for="" class="d-block">E-mail</label>
                <p>ex : elsayedsobhy@gmail.com</p>
            </div>
            <img src="~/img/hr.svg" class="img-fluid" alt="">
            <div class="mt-2">
                <label for="" class="d-block">Password</label>
                <p>ex : khcdf90-8</p>
            </div>
            <img src="~/img/hr.svg" class="img-fluid" alt="">
            <div class="mt-2">
                <a href="editProfile.html" class="btn btn-update w-50 rounded-5 text-center m-auto d-block mb-4">Edit My Profile</a>
                <button class="btn btn-update w-50 rounded-5 text-center m-auto d-block">logout</button>
            </div>
        </form>
    </div>
</div>
