@page
@model RegisterModel
@{
    Layout = "";
}
@*<div class="auth">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-md-6 group-image">
                <img src="~/img/Group 48095654.png" alt="" class="img-fluid img-auth" />
            </div>
            <div class="col-md-6 signup">
                <h1>Sign Up</h1>
                <p class="welcome">Fill in your credentials and click on the the Sign up button</p>
                <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
                    <div class="row">
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <div class="col-md-6">
                            <label asp-for="Input.FirstName">Enter First Name</label>
                            <div class="input-group mb-3">
                                <span class="input-group-text" id="basic-addon1">
                                    <i class="fa-regular fa-user"></i>
                                </span>
                                <input type="text" asp-for="Input.FirstName" class="form-control" placeholder="First Name" aria-label="First Name" aria-describedby="basic-addon1">
                                <span asp-validation-for="Input.FirstName" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label asp-for="Input.LastName">Enter Last Name</label>
                            <div class="input-group mb-3">
                                <span class="input-group-text" id="basic-addon1">
                                    <i class="fa-regular fa-user"></i>
                                </span>
                                <input type="text" asp-for="Input.LastName" class="form-control" placeholder="Last Name" aria-label="Last Name" aria-describedby="basic-addon1">
                                <span asp-validation-for="Input.LastName" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <label asp-for="Input.Email">Enter Your Email</label>
                            <div class="input-group mb-3">
                                <span class="input-group-text" id="basic-addon1">
                                    <i class="fa-regular fa-envelope"></i>
                                </span>
                                <input type="text" asp-for="Input.Email" class="form-control" placeholder="Email" aria-label="Email" aria-describedby="basic-addon1">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <label asp-for="Input.Password">Enter Your Password</label>
                            <div class="input-group mb-3">
                                <input type="password" asp-for="Input.Password" class="form-control passInput" placeholder="Password" aria-label="Password" aria-describedby="basic-addon2">
                                <button type="button" class="input-group-text tooglePassword" id="basic-addon2">
                                    <i class="fa-regular fa-eye"></i>
                                </button>
                                <span asp-validation-for="Input.Password" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group my-3">
                        <button type="submit" class="btn btn-outline-primary btn-auth nextStep">Sign Up</button>
                    </div>
                </form>
                <h6>--- Or Sign Up With ---</h6>
                <div class="social-icons">
                    <a href="">
                        <i class="fa-brands fa-facebook"></i>
                    </a>
                    <a href="">
                        <i class="fa-brands fa-google"></i>
                    </a>
                </div>
                <p class="no_account">
                    Already Have An Account
                    <button type="button" class="btn showLogin" asp-page="./Login" asp-route-returnUrl="@Model.ReturnUrl">Log IN</button>
                </p>
            </div>
        </div>
    </div>
</div>*@

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Auth</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous" />
    <link rel="stylesheet" href="~/css/style.css" />
</head>

<body>
    <div class="auth">
        <div class="container-fluid">
            <div class="row align-items-center" style="justify-content: space-between;">
                <div class="col-lg-5 d-lg-block d-none group-image" style="background-image: url(/img/authbg.svg);">
                    <!-- <img src="~/img/authbg.svg" alt="" class="img-fluid img-auth"/> -->
                </div>
                <div class="col-md-6 signup">
                    <h1>Sign Up</h1>
                    <p class="welcome">welcome to MS Support</p>
                    <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="input-group mb-2">
                                    <span class="input-group-text" id="basic-addon1">
                                        <i class="fa-regular fa-user"></i>
                                    </span>
                                    <input type="text" name="FirstName" class="form-control" placeholder="First Name" aria-label="First Name" aria-describedby="basic-addon1">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="input-group mb-2">
                                    <span class="input-group-text" id="basic-addon1">
                                        <i class="fa-regular fa-user"></i>
                                    </span>
                                    <input type="text" name="LastName" class="form-control" placeholder="Last Name" aria-label="Last Name" aria-describedby="basic-addon1">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="input-group mb-2">
                                    <span class="input-group-text" id="basic-addon1">
                                        <i class="fa-regular fa-envelope"></i>
                                    </span>
                                    <input type="email" name="Email" class="form-control" placeholder="Email" aria-label="Email" aria-describedby="basic-addon1">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="input-group mb-2">
                                    <input type="password" name="Password" class="form-control passInput" placeholder="Password" aria-label="Password" aria-describedby="basic-addon2">
                                    <button type="button" class="input-group-text tooglePassword" id="basic-addon2">
                                        <i class="fa-regular fa-eye"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="input-group mb-2">
                                    <input type="password" name="ConfirmPassword" class="form-control passConfirmInput" placeholder="Confirm Password" aria-label="ConfirmPassword" aria-describedby="basic-addon2">
                                    <button type="button"  class="input-group-text toogleConfirmPassword" id="basic-addon2">
                                        <i class="fa-regular fa-eye"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <label for="" class="areyou">Are you ?</label>
                                <div class="d-flex mt-3">
                                    <div class="doctor d-flex ml-4">
                                        <input type="radio" name="UserType" id="doctor" value="doctor">
                                        <label for="doctor" style="margin-left: 10%;">Doctor</label>
                                    </div>
                                    <div class="patient d-flex ml-4">
                                        <input type="radio" name="UserType" id="patient" value="patient">
                                        <label for="patient" style="margin-left: 10%;">Patient</label>
                                    </div>
                                    <div class="other d-flex ml-4">
                                        <input type="radio" name="UserType" id="Other" value="other">
                                        <label for="Other" style="margin-left: 10%;">Other</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="input-group my-3">
                            <button type="submit" class="btn btn-outline-primary btn-auth">Sign Up</button>
                        </div>
                    </form>
                    <h6>--- Or Sign Up With ---</h6>
                    <div class="social-icons">
                        <a href="">
                            <i class="fa-brands fa-facebook"></i>
                        </a>
                        <a href="">
                            <i class="fa-brands fa-google"></i>
                        </a>
                    </div>
                    <p class="no_account">
                        Already Have An Account
                        <button type="button" class="btn showLogin">Log IN</button>
                    </p>
                </div>
                <div class="col-md-6 login d-none">
                    <h1>Login in</h1>
                    <p class="welcome">Welcome Back</p>
                    <form>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="input-group mb-2">
                                    <span class="input-group-text" id="basic-addon1">
                                        <i class="fa-regular fa-envelope"></i>
                                    </span>
                                    <input type="email" class="form-control" placeholder="Email" aria-label="Email" aria-describedby="basic-addon1">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="input-group mb-2">
                                    <input type="password" class="form-control passInput" placeholder="Password" aria-label="Password" aria-describedby="basic-addon2">
                                    <button type="button" class="input-group-text tooglePassword" id="basic-addon2">
                                        <i class="fa-regular fa-eye"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="input-group justify-content-right">
                            <button type="button" class="btn text-primary showForget">Forget Password ?</button>
                        </div>
                        <div class="input-group my-3">
                            <a href="profile.html" class="btn btn-outline-primary btn-auth">Log In</a>
                        </div>
                    </form>
                    <h6>--- Or Sign In With ---</h6>
                    <div class="social-icons">
                        <a href="">
                            <i class="fa-brands fa-facebook"></i>
                        </a>
                        <a href="">
                            <i class="fa-brands fa-google"></i>
                        </a>
                    </div>
                    <p class="no_account">
                        If you didn’t have an account please
                        <button type="button" class="btn showRegister">Sign Up</button>
                    </p>
                </div>
                <div class="col-md-6 forgetPassword d-none">
                    <h1>Forget Your Password</h1>
                    <p class="welcome">No worries, we will send you some instructions</p>
                    <form>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="input-group mb-2">
                                    <span class="input-group-text" id="basic-addon1">
                                        <i class="fa-regular fa-envelope"></i>
                                    </span>
                                    <input type="email" class="form-control" placeholder="Email" aria-label="Email" aria-describedby="basic-addon1">
                                </div>
                            </div>
                        </div>
                        <div class="input-group my-3">
                            <button type="button" class="btn btn-outline-primary btn-auth showVerify">Continue</button>
                        </div>
                    </form>
                    <p class="no_account">
                        <button type="button" class="btn showLogin">Back to Login</button>
                    </p>
                </div>
                <div class="col-md-6 verifyCode d-none">
                    <h1>Password Reset</h1>
                    <p class="welcome">We sent a code to untitledname@gmail.com</p>
                    <form>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="input-group mb-2">
                                    <input type="text" class="form-control" placeholder="742913" max="6" aria-label="code" aria-describedby="basic-addon1">
                                </div>
                            </div>
                        </div>
                        <div class="input-group my-3">
                            <button class="btn btn-outline-primary btn-auth newPasswordbtn" type="button">Continue</button>
                        </div>
                    </form>

                    <p class="no_account">
                        ---Don't Receive the email
                        <button type="button" class="btn">Resend</button>---
                    </p>
                    <p class="no_account">
                        <button type="button" class="btn showLogin">Back To Login</button>
                    </p>
                </div>
                <div class="col-md-6 newPassword d-none">
                    <h1>Set new Password</h1>
                    <p class="welcome">Must be at least 8 characters</p>
                    <form>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="input-group mb-2">
                                    <input type="Password" class="form-control" placeholder="Password" aria-describedby="basic-addon1">
                                </div>
                                <div class="input-group mb-2">
                                    <input type="Password" class="form-control" placeholder="Password Confirmation" aria-describedby="basic-addon1">
                                </div>
                            </div>
                        </div>
                        <div class="input-group my-3">
                            <button type="submit" class="btn btn-outline-primary btn-auth">Reset Password</button>
                        </div>
                    </form>
                    <p class="no_account">
                        <button type="button" class="btn showLogin">Back To Login</button>
                    </p>
                </div>
                <!-- <div class="col-md-6 registerContinue d-none">
                    <form>
                        <div class="row">
                            <div class="col-md-12 text-center mb-4">
                                <label>
                                    <input type="radio" name="test" value="doctor" checked>
                                    <div class="customInput">
                                        <img src="~/img/pngwing 1.png" class="img-fluid" alt="Option 1">
                                        <h3 class="text-center">I’m a Doctor</h3>
                                    </div>
                                  </label>
                            </div>
                            <div class="col-md-12 text-center">
                                <label>
                                    <input type="radio" name="test" value="doctor" checked>
                                    <div class="customInput">
                                        <img src="~/img/pngwing 2.png" class="img-fluid" alt="Option 1">
                                        <h3 class="text-center">I'm a Patient</h3>
                                    </div>
                                  </label>
                            </div>
                        </div>
                        <div class="input-group my-3">
                            <a href="profile.html" class="btn btn-outline-primary btn-auth w-25 mr-0" style="margin-left: auto !important; margin-right: 0;">
                                <i class="fa-solid fa-share"></i>
                            </a>
                        </div>
                    </form>
                </div> -->
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js" integrity="sha512-pumBsjNRGGqkPzKHndZMaAG+bir374sORyzM3uulLV14lN5LyykqNk8eEeUlUkB3U0M4FApyaHraT65ihJhDpQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    @*<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>*@
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js" integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD" crossorigin="anonymous"></script>
    <script src="~/js/script.js"></script>
</body>

</html>

@*@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}*@












