﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_Layout";
}

<div class="about">
    <div class="container">
        <h1 class="text-center section-title-about">About Us</h1>
        <p class="section-desc-about">
            From here, you can learn many things about us, and we will cover all the questions
            <br>
            that are in your mind. Our main goal is to build a strong relationship with you to follow up on
            <br>
            your disease until you improve and your health becomes fine.
        </p>
        <img src="~/img/about.svg" class="d-block m-auto text-center img-fluid" alt="">
    </div>
</div>
<div class="section-about text-center">
    <div class="container">
        <div class="row align-items-center text-center">
            <div class="col-md-6">
                <h2 class="h1">Our vision</h2>
                <p>‘’The harder you’ll work for something, the greater you will feel when you’ll achieve it The aim of medicine is to prevent disease and prolong life; the ideal of medicine is to eliminate the need of a physician’’</p>
            </div>
            <div class="col-md-6">
                <img src="~/img/vision.svg" alt="" class="img-fluid">
            </div>
        </div>
        <div class="row align-items-center text-center">
            <div class="col-md-6">
                <h2 class="h1">Our Approch</h2>
                <p>‘’The aim of medical websites and medicine  is to prevent disease and prolong life; the ideal of medicine is to eliminate the need of a physician’’</p>
            </div>
            <div class="col-md-6">
                <img src="~/img/approch.svg" alt="" class="img-fluid">
            </div>
        </div>
        <div class="row align-items-center text-center">
            <div class="col-md-6">
                <h2 class="h1">Our Process</h2>
                <p>Multiple sclerosis is typically diagnosed based on the presenting signs and symptoms, in combination with supporting medical imaging and laboratory testing, it's the only way to be 100% confident of being a multiple sclerosis patient or not.</p>
            </div>
            <div class="col-md-6">
                <img src="~/img/process.svg" alt="" class="img-fluid">
            </div>

        </div>
        <img src="~/img/story.svg" class="img-fluid d-block m-auto text-center" alt="">
        <h2 class="h1 mt-4">
            Story Of Us
        </h2>
        <p class="mt-4">
            We, a group of university students, decided to build a graduation project to help patients with multiple sclerosis.
            <br>
            We all hope that this site will help improve the health of our patients.
        </p>
    </div>
</div>