@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/custom.css">
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Kufi+Arabic:wght@600&display=swap" rel="stylesheet">
    <title>Main Page</title>
</head>
<body class="mainpage">
    <div class="container">
        <div class="main1">
            <img src="~/img/illuastro1.png">
            <div class="main2">
                <p>
                    We Provide <span>Medical</span> Services That<br> You Can <span>Trust!</span>
                </p>
            </div>
            <div class="main3">
                <p>”Health is a state of complete<br> harmony of the body, mind and<br> spirit. When one is free from<br> physical disabilities and mental<br> distractions”</p>
            </div>
            <div class="main4">
                <button type="button">Get Started</button>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="main5">
            <div class="shape"></div>
            <span>Our Services</span>
            <p>We provide you with many tools to help you organize your calves, and we also provide you with various tips to improve your health</p>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-3 card">
                <img src="~/img/Rectangle 39420.png">
                <span>Medicine</span>
                <p>We provide a tool to alert you of<br> all your medication<br> appointments.</p>
            </div>
            <div class="col-sm-3 card">
                <img src="~/img/Rectangle 39421.png">
                <span>Diagnosis</span>
                <p>We provide a tool to share your<br>MRI for us to examine.</p>
            </div>
            <div class="col-sm-3 card">
                <img src="~/img/Rectangle 39422.png">
                <span>Food</span>
                <p>We provide healthy, integrated<br> food recipes.</p>
            </div>
        </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <div class="shape2"></div>
    <div class="container">
        <div class="row">
            <div class="col-sm-3 card" style="left: 150px;">
                <img src="~/img/Rectangle 39423.png">
                <span>Exercices</span>
                <p>Some exercises help you to <br>maintain your health well.</p>
            </div>
            <div class="col-sm-3 card" style="left: 130px;">
                <img src="~/img/Rectangle 39424.png">
                <span>Chats</span>
                <p>You can communicate with<br> elite doctors at any time</p>
            </div>
        </div>
    </div>
    <div class="float-child">
        <div class="aboutus"><div></div><img src="~/img/Rectangle 39425.png"></div>
    </div>
    <div class="float-child">
        <div class="aboutus1">
            <span>About us </span><br><br>
            <p>From here, you can learn many things about us, and<br> we will cover all the questions that are in your mind.<br> Our main goal is to build a strong relationship with you<br> to follow up on your disease until you improve and<br> your health becomes fine.</p>
            <a href="~/home/about" class="botton-r" style="text-decoration:none;display: flex;flex-direction: row;justify-content: center;align-items: center;padding: 7px 17px;gap: 10px;position: absolute;width: 200px;height: 50px;left: 780px;top: 2289px;background: linear-gradient(135deg, #72EDF2 0%, #5151E5 100%);border: 1px solid #FFFFFF;border-radius: 50px;font-family: 'Poppins';font-style: normal;font-weight: 400;font-size: 20px;line-height: 26px;text-align: center;color: #FFFFFF;">Learn More</a>
@*            <button type="button">Learn More</button>
*@        </div>
    </div>
    </div>
    </div>
    <div class="container">
        <div class="shape3"></div>
        <div class="main6">
            <span>Why  are we reliable ?</span>
            <p>We provide you with many tools to help you organize your calves, and we also provide you with various tips to improve your health</p>
        </div>
        <div class="shape4"></div>
        <div class="parent">
            <div class="column">
                <div class="columnone">
                    <img src="~/img/Login.png"><br>
                    <caption><p>Quick registration</p></caption>
                </div>
            </div>
            <div class="column ">
                <div class="columntwo">
                    <img src="~/img/Verified.png"><br>
                    <caption><p>High security</p> </caption>
                </div>
            </div>
            <div class="column">
                <div class="columnthree">
                    <img src="~/img/Admin.png"><br>
                    <caption><p>Profitional control</p></caption>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="main7">
            <span>Our Doctors</span>
            <p>Here we have recommended you a whole group of doctors that you can communicate with</p>
        </div>
        <div class="parent">
            <div class="column">
                <div class="columnfour">
                    <img src="~/img/doctor-with-his-arms-crossed-white-background-removebg-preview 1.png"><br>
                    <caption><p>Dr. Karem Ali</p></caption>
                    <span>Gynecologists</span>
                </div>
            </div>
            <div class="column">
                <div class="columnfive">
                    <img src="~/img/portrait-candid-male-doctor-removebg-preview 1.png"><br>
                    <caption><p>Dr.Ashraf Wael</p></caption>
                    <span>Cardiologists</span>
                </div>
            </div>
            <div class="column">
                <div class="columnsix">
                    <img src="~/img/pngwing 1.png"><br>
                    <caption><p>Dr. Jack  Albert</p></caption>
                    <span>Neurologist</span>
                </div>
            </div>
        </div>
    </div>
</body>
