@{
    ViewData["Title"] = "Home Page";
    Layout = "_Layout";
}


<div class="headerSlider">
    <div class="swiper mySwiper">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                @*<img src="https://swiperjs.com/demos/~/img/nature-1.jpg" />*@
                <img src="~/img/Frame 3 (3).png" />
            </div>
            <div class="swiper-slide">
                @*<img src="https://swiperjs.com/demos/~/img/nature-2.jpg" />*@
                <img src="~/img/Frame 3 (4).png" />
            </div>
            <div class="swiper-slide">
                @*<img src="https://swiperjs.com/demos/~/img/nature-3.jpg" />*@
                <img src="~/img/Frame 4 (1).png" />
            </div>
            <div class="swiper-slide">
                @*<img src="https://swiperjs.com/demos/~/img/nature-3.jpg" />*@
                <img src="~/img/multiple-sclerosis--ke-lakshan-karan-upchar-bachav-ilaj-dawa-in-hindi.png" />
            </div>
            <div class="swiper-slide">
                @*<img src="https://swiperjs.com/demos/~/img/nature-3.jpg" />*@
                <img src="~/img/multiple-sclerosis.jpg" />
            </div>
            <div class="swiper-slide">
                @*<img src="https://swiperjs.com/demos/~/img/nature-3.jpg" />*@
                <img src="~/img/what-is-ms-1024x1024.jpg" />
            </div>
            <div class="swiper-slide">
                @*<img src="https://swiperjs.com/demos/~/img/nature-3.jpg" />*@
                <img src="~/img/Multiple-Sclerosis-Awareness-Month.jpg" />
            </div>
            @*<div class="swiper-slide">
                <img src="https://swiperjs.com/demos/~/img/nature-4.jpg" />
            </div>
            <div class="swiper-slide">
                <img src="https://swiperjs.com/demos/~/img/nature-5.jpg" />
            </div>
            <div class="swiper-slide">
                <img src="https://swiperjs.com/demos/~/img/nature-6.jpg" />
            </div>
            <div class="swiper-slide">
                <img src="https://swiperjs.com/demos/~/img/nature-7.jpg" />
            </div>
            <div class="swiper-slide">
                <img src="https://swiperjs.com/demos/~/img/nature-8.jpg" />
            </div>
            <div class="swiper-slide">
                <img src="https://swiperjs.com/demos/~/img/nature-9.jpg" />
            </div>*@
        </div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-pagination"></div>
    </div>
</div>
<div class="homebage">
    <div class="container text-center mt-4 ">
        <h4 class="homeTitle">
            You are strong and you will defeat multiple sclerosis champ.
            <span>
                Never despair
            </span>
            , <br>there is always hope.
        </h4>
        <div class="services">
            <div class="section">
                <h2 class="sectionTitle"> Our Services </h2>
                <p class="sectiondesc">
                    “Health is a state of complete harmony of the body, mind and spirit. When one is
                    free from physical disabilities and mental distractions”
                </p>
            </div>
            <div class="cards">
                <div class="row">
                    <div class="col-md-6">
                        <div class="card shadow rounded-4 border-0">
                            <img src="~/img/dianosis.png" class="img-fluid" alt="">
                            <h2>
                                <span class="h2">01</span> Diagnosis
                            </h2>
                            <p>
                                The process of identifying a disease, condition, or injury from its signs and symptoms. A
                                health history, physical exam, and tests, such as blood tests, imaging tests, and
                                biopsies, may be used to help make a diagnosis.
                            </p>
                            <button class="btn btn-know">Know More -&gt;</button>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card shadow rounded-4 border-0">
                            <img src="~/img/medicine.png" class="img-fluid" alt="">
                            <h2>
                                <span class="h2">02</span> Medicine
                            </h2>
                            <p>The process of identifying a disease, condition, or injury from its signs and symptoms. A health history, physical exam, and tests, such as blood tests, imaging tests, and biopsies, may be used to help make a diagnosis.</p>
                            <button class="btn btn-know">Know More -&gt;</button>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card shadow rounded-4 border-0">
                            <img src="~/img/food.png" class="img-fluid" alt="">
                            <h2>
                                <span class="h2">03</span> Food
                            </h2>
                            <p>The process of identifying a disease, condition, or injury from its signs and symptoms. A health history, physical exam, and tests, such as blood tests, imaging tests, and biopsies, may be used to help make a diagnosis.</p>
                            <button class="btn btn-know">Know More -&gt;</button>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card shadow rounded-4 border-0">
                            <img src="~/img/dianosis.png" class="img-fluid" alt="">
                            <h2>
                                <span class="h2">04</span> Exercices
                            </h2>
                            <p>The process of identifying a disease, condition, or injury from its signs and symptoms. A health history, physical exam, and tests, such as blood tests, imaging tests, and biopsies, may be used to help make a diagnosis.</p>
                            <button class="btn btn-know">Know More -&gt;</button>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card shadow rounded-4 border-0">
                            <img src="~/img/doctiors.png" class="img-fluid" alt="">
                            <h2>
                                <span class="h2">05</span> Doctors
                            </h2>
                            <p>
                                The process of identifying a disease, condition, or injury from its signs and symptoms. A
                                health history, physical exam, and tests, such as blood tests, imaging tests, and
                                biopsies, may be used to help make a diagnosis.
                            </p>
                            <button class="btn btn-know">Know More -&gt;</button>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card shadow rounded-4 border-0">
                            <img src="~/img/chats.png" class="img-fluid" alt="">
                            <h2>
                                <span class="h2">06</span> Chats
                            </h2>
                            <p>Doctors have always played a very important in the development of our society. Furthermore, many doctors have even risked their lives to serve the patients , It is very important for us convey our gratitude towards them</p>
                            <button class="btn btn-know">Know More -&gt;</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

