@{
    Layout = "_Layout";
}
<div class="parent">
    <div class="title">
        <h1>Food:</h1>
        <pre>
            We advice you with these recipes for your good health!
        </pre>
    </div>
    <div class="paragraph1" style="position: relative;">
        <img src="~/img/Asset 20 1.png" , width="30%" ,height="30%">
        <pre>
        <h5>Tuna Salad</h5>
            Tuna salad is a light and fresh comfort food classic. Made
            with a few simple ingredients such as canned tuna,
            mayonnaise, onion and celery, it's the perfect combination of
            creamy and crispy. Serve this in a sandwich, wrap it in
            lettuce, or stuff it in avocado halves for a healthy, throw-
            •together lunch
        </pre>
    </div>

    <div class="paragraph2" style="position: relative;">
        <img src="~/img/Asset 80.png" , width="30%" ,height="30%">
        <pre>
        <h5>Avocado with egg</h5>
            Tuna salad is a light and fresh comfort food classic. Made
            with a few simple ingredients such as canned tuna,
            mayonnaise, onion and celery, it's the perfect combination of
            creamy and crispy. Serve this in a sandwich, wrap it in
            lettuce, or stuff it in avocado halves for a healthy, throw-
            .together lunch

        </pre>
    </div>

    <div class="paragraph3" style="position: relative;">
        <img src="~/img/Asset 789945.png" , width="30%" ,height="30%">
        <pre>
        <h5>Blue and red berry</h5>
            Tuna salad is a light and fresh comfort food classic. Made
            with a few simple ingredients such as canned tuna,
            mayonnaise, onion and celery, it's the perfect combination of
            creamy and crispy. Serve this in a sandwich, wrap it in
            lettuce, or stuff it in avocado halves for a healthy, throw-
            .together lunch
        </pre>

    </div>


</div>