 <!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="view port" content="width=device-width,initial-scale=1.0 , shrink-to-fit=no">
    <title>Food</title>
    <link rel="stylesheet" href="~/css/food.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

</head>

<body>
    <div class="parent">
        <div class="title">
            <h1>Food:</h1>
            <pre>
            We advice you with these recipes for your good health!
        </pre>
        </div>
        <div class="paragraph1">
            <img src="~/img/Asset 20 1.png" , width="30%" ,height="30%">
            <pre>
            <h5>Tuna Salad</h5>
            Tuna salad is a light and fresh comfort food classic. Made
            with a few simple ingredients such as canned tuna,
            mayonnaise, onion and celery, it's the perfect combination of
            creamy and crispy. Serve this in a sandwich, wrap it in
            lettuce, or stuff it in avocado halves for a healthy, throw-
            •together lunch
        </pre>
        </div>

        <div class="paragraph2">
            <img src="~/img/Asset 80.png" , width="30%" ,height="30%">
            <pre>
            <h5>Avocado with egg</h5>
            Tuna salad is a light and fresh comfort food classic. Made
            with a few simple ingredients such as canned tuna,
            mayonnaise, onion and celery, it's the perfect combination of
            creamy and crispy. Serve this in a sandwich, wrap it in
            lettuce, or stuff it in avocado halves for a healthy, throw-
            .together lunch
            
        </pre>
        </div>

        <div class="paragraph3">
            <img src="~/img/Asset 789945.png" , width="30%" ,height="30%">
            <pre>
            <h5>Blue and red berry</h5>
            Tuna salad is a light and fresh comfort food classic. Made
            with a few simple ingredients such as canned tuna,
            mayonnaise, onion and celery, it's the perfect combination of
            creamy and crispy. Serve this in a sandwich, wrap it in
            lettuce, or stuff it in avocado halves for a healthy, throw-
            .together lunch
        </pre>
        
        </div>

        
    </div>








    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</body>
</html>